// bower:scss
// endbower

@import "compass/typography/vertical_rhythm";

$break-mobile-small: "(max-width: 320px)";
$break-mobile: "(max-width: 800px)";
$break-desktop: "(min-width: 801px)";
$break-small: "(min-width: 801px) and (max-width: 1150px)";
$break-medium: "(min-width: 1151px) and (max-width: 1525px)";
$break-large: "(min-width: 1526px)";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

* {
  padding: 0;
  margin: 0;
  text-rendering: optimizeLegibility;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  transition: all 0.5s;
  box-sizing: border-box;
}

html {
  font-size: 18px;
  @media #{$break-mobile-small} {
    font-size: 17px;
  }

  font-family: "freight-text-pro", serif;
  color: #444;
}

.text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.text-secondary {
  font-size: 0.75rem;
  font-family: "freight-sans-pro", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #888;
}

.wf-loading {
  opacity: 0;
  transition: all 1s;
}

.wf-inactive, .wf-active {
  opacity: 1;
  transition: all 1s;
}

.app {
  display: flex;
  flex-direction: column;
}

.container {
  @media #{$break-mobile} {
    margin: 1rem;
  }

  @media #{$break-small} {
    margin: 5rem;
    margin-right: calc(5rem - 1rem);
  }

  @media #{$break-medium} {
    margin: 6rem;
    margin-right: calc(6rem - 1.5rem);
  }

  @media #{$break-large} {
    margin: 8rem;
    margin-right: calc(8rem - 2rem);
  }

  flex: 1;
  display: flex;
  flex-direction: column;
}

.portfolio {
  @media #{$break-mobile} {
    margin-top: 4rem;
  }

  @media #{$break-small} {
    margin-top: 5rem;
  }

  @media #{$break-medium} {
    margin-top: 6rem;
  }

  @media #{$break-large} {
    margin-top: 7rem;
  }

  .grid {
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .grid-item {
      @media #{$break-mobile} {
        width: 100%;
        margin-right: 0rem;
        margin-bottom: 1rem;
      }

      @media #{$break-small} {
        width: calc(50% - 1rem);
        margin-right: 1rem;
        margin-bottom: 1rem;
      }

      @media #{$break-medium} {
        width: calc(33% - 1.5rem);
        margin-right: 1.5rem;
        margin-bottom: 1.5rem;
      }

      @media #{$break-large} {
        width: calc(25% - 2rem);
        margin-right: 2rem;
        margin-bottom: 2rem;
      }

      display: block;
      background: #fff;
      overflow: hidden;
      text-align: center;
      vertical-align: middle;
      border: 1px solid #eee;
      position: relative;

      img {
        width: 100%;
        height: auto;
        margin: auto;
      }
      
      &:hover {
        .meta {
          background: rgba(0, 0, 0, 0.95);
        }
      }

      .meta {
        position: absolute;
        bottom: 0;
        background: rgba(0, 0, 0, 0.8);
        width: 100%;
        padding: 0.6rem;
        padding-top: 0.55rem;
        padding-bottom: 0.7rem;
        font-family: "freight-sans-pro", sans-serif;
        text-align: left;


        .title {
          font-size: 1rem;
          font-weight: 600;
          display: block;
          color: #ffffff;
          margin-bottom: 0.2rem;
        }

        .desc {
          font-size: 0.75rem;
          text-transform: uppercase;
          font-weight: 500;
          display: inline-block;
          color: #ffffff;
          float: left;
        }

        .time {
          @extend .desc;
          float: right;
          text-transform: capitalize;
        }
      }
    }
  }
}

a {
  text-decoration: none;
  color: #333;
  color: salmon;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  transition: border-bottom 0.25s;

  &:hover {
    border-bottom: 1px solid salmon;
    transition: border-bottom 0.25s;
  }
}

.intro {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  @media #{$break-mobile} {
    flex-wrap: wrap;
    margin: 0.2rem;
    margin-top: 4rem;
  }

  @media #{$break-desktop} {
    flex-wrap: none;
  }

  .brand {
    @media #{$break-mobile} {
      width: 100%;
    }

    @media #{$break-small} {
      width: 50%;
    }

    @media #{$break-medium} {
      width: 33%;
    }

    @media #{$break-large} {
      width: 25%;
    }

    h1 {
      font-family: "freight-sans-pro", sans-serif;
      font-weight: 700;
      font-size: 2.37rem;
      line-height: 1.12;
      color: #111;
    }
  }

  .blurb {
    @media #{$break-mobile} {
      width: 100%;
    }

    @media #{$break-small} {
      width: 50%;
    }

    @media #{$break-medium} {
      width: calc(33% * 2);
    }

    @media #{$break-large} {
      width: calc(25% * 2);
    }

    @media #{$break-mobile} {
      margin-top: 1rem;
    }

    @media #{$break-desktop} {
      border-left: 1px solid salmon;
      padding-left: 1rem;
      padding-top: 0.3rem;
      padding-bottom: 0.3rem;
    }

    p {
      @extend .text;
      min-width: 33%;
      max-width: 35rem;
    }

    p:first-child {
      margin-top: 0.25rem;
    }

    p:last-child {
      margin-bottom: 0.25rem;
    }
  }
}

.social {
  margin-top: 1rem;

  .si {
    margin-right: 1rem;
    font-size: 1rem;
    color: #999;
    border-bottom: 0;
    transition: color 0.25s;
    display: inline-block;

    &:hover {
      color: salmon;
    }
  }
}

.banner {
  margin-top: 3rem;

  hr {
    border: 0;
    height: 0;
    border-top: 3px solid salmon;
    width: 6rem;
    margin-bottom: 1rem;
  }
}

@media #{$break-mobile} {
  .display-desktop {
    display: none;
  }
}

@media #{$break-desktop} {
  .display-mobile {
    display: none;
  }
}