<article>
	<h1>L'accompanier</h1>
	<h2 class="subtitle">A real-time visualizer for the audio around you</h2>
	<div class="meta">
		<span class="tags">Product Design &amp; Engineering</span>
		<span class="date">Fall '14</span>
	</div>

	<img src="images/accomp-display.png" class="cover">

	<div class="content">
		L'accompanier is a live drums and bass accompanier for keyboardists to jam or perform with. Simply plug in your keyboard through MIDI and starting playing, and the system will learn from your playing style, and synthesize accompanying drums and bass.
	</div>

 	<div class="content">
 		The core motivation behind this project was the fact that I play the keyboards myself, and sometimes you just don't have anyone to play with. And in order to play something tangible, a drummer and a bassist are quite essential. This led to interesting challenge of combining music theory, artificial intelligence and interface design to design a responsive system with which one could jam with.
 	</div>

	<div class="content">
		<div class="subtext">Project URL: <a href="https://ccrma.stanford.edu/~trijeetm/l'accompanier/" target="_blank">https://ccrma.stanford.edu/~trijeetm/l'accompanier/</a></div>
		<div class="subtext">Audio engine implemented in C/C++ using Rt-Audio and Rt-Midi libraries, and UI designed using OpenGL and MCD APIs</div>
	</div>

	<div class="footer">
		<a href="#/badumtss">Ba-dum-tss!</a>
		<a href="#/">Back to all projects</a>
		<span></span>
	</div>
</article>