<article>
	<h1>Ba-dum-tss!</h1>
	<h2 class="subtitle">Convert your computer into a portable step sequencer</h2>
	<div class="meta">
		<span class="tags">Interaction Design; Audio Engineering</span>
		<span class="date">Fall '14</span>
	</div>

	<img src="images/badumtss-mockup.png" class="cover">

	<div class="content">
		Ba-dum-tss is a step sequencer which allows the user to sequence drum beats, bass notes &amp; chords to create music. The idea was to reduce the barrier to music production, so that people with even minimal musical background could produce music.
	</div>

	<div class="content">
		The challenge of this project was to design an interface which had a very low learning curve, and constrained in such a way that it can't produce wrong music, however keeping it dynamic enough such that the user can have control over what they are playing.
	</div>

	<div class="content">
		<div class="subtext">Project URL: <a href="https://ccrma.stanford.edu/~trijeetm/ba-dum-tss/" target="_blank">https://ccrma.stanford.edu/~trijeetm/ba-dum-tss/</a></div>
		<div class="subtext">Interface designed using OpenGL and MCD APIs, audio engine implemented in C/C++ using Rt-Audio and fluidsynth libraries</div>
	</div>

	<div class="footer">
		<a href="#/apb">Alan's Psychedelic Breakfast</a>
		<a href="#/">Back to all projects</a>
		<a href="#/accompanier">L'accompanier</a>
	</div>
</article>