<article>
	<h1>Binaural Man</h1>
	<h2 class="subtitle">Binaural audio based exploration game for iOS</h2>
	<div class="meta">
		<span class="tags">Game Design &amp; Development</span>
		<span class="date">Winter '15</span>
	</div>

	<img src="images/binaural-man.png" class="cover">

	<div class="content italicize">
		This page is still a work in progress.
	</div>

	<div class="content">
		<div class="subtext">Project URL: <a href="https://github.com/trijeetm/BinauralMan" target="_blank">https://github.com/trijeetm/BinauralMan</a></div>
		<div class="subtext">Mobile app developed using Objective-C, and audio engine implemented in C++ with BASS for iOS.</div>
	</div>

	<div class="footer">
		<a href="#/fingerboard">Fingerboard</a>
		<a href="#/">Back to all projects</a>
		<a href="#/apb">Alan's Psychedelic Breakfast</a>
	</div>
</article>