<article>
	<h1>Coursera Redesign</h1>
	<h2 class="subtitle">A redesign of the Coursera web product</h2>
	<div class="meta">
		<span class="tags">Product Design; UX Research</span>
		<span class="date">Winter '15</span>
	</div>

	<img src="images/coursera-cover.png" class="cover">

	<div class="content">
		This project explores an alternate design to Coursera's web product with a focus on content discovery and consumption; providing a better first-page experience for the user, and a simpler and more intuitive way of finding new and relevant courses.
	</div>

	<div class="content">
		<!-- <h3>Role</h3> -->
		Being a personal project, I was working on all the parts of the design process, from product design, to user experience, to interface design.
	</div>

	<img src="images/coursera-collage.png" class="cover">

	<div class="content">
		The <a href="assets/coursera-report.pdf" target="_blank">full report</a> analyzes  current issues in the design, and explores different solutions to these problems, culminating with high-fidelity mock-ups.
	</div>

	<div class="content">
		<div class="subtext">Project Report: <a href="assets/coursera-report.pdf" target="_blank">Coursera-Redesign-Report.pdf</a></div>
		<div class="subtext">Mock-ups designed with Sketch, and interactive prototype with InVision</div>
	</div>

	<div class="footer">
		<span></span>
		<a href="#/">Back to all projects</a>
		<a href="#/flow">Flow</a>
	</div>
</article>