<article>
	<h1>Fingerboard</h1>
	<h2 class="subtitle">A wind based continuum music instrument controlled by the player’s breath</h2>
	<div class="meta">
		<span class="tags">Product Design; Audio Engineering</span>
		<span class="date">Winter '15</span>
	</div>

	<img src="images/fingerboard.png" class="cover">

	<div class="content italicize">
		This page is still a work in progress.
	</div>

	<div class="content">
		<div class="subtext">Project URL: <a href="https://github.com/trijeetm/Fingerboard" target="_blank">https://github.com/trijeetm/Fingerboard</a></div>
		<div class="subtext">Audio engine implemented in C++ using Synthesis Toolkit (STK), interface designed with Objective-C using Core Graphics and UIKit.</div>
	</div>

	<div class="footer">
		<a href="#/sonic-canvas">Sonic Canvas</a>
		<a href="#/">Back to all projects</a>
		<a href="#/binaural-man">Binaural Man</a>
	</div>
</article>