<article>
	<h1>Flow</h1>
	<h2 class="subtitle">An iOS productivity app for amateur creators</h2>
	<div class="meta">
		<span class="tags">UI / UX Design</span>
		<span class="date">Fall '14</span>
	</div>

	<img src="images/flow.png" class="cover">

	<div class="content italicize">
		This page is still a work in progress.
	</div>

	<div class="content">
		Flow is an iOS productivity app to help creative people streamline their projects by providing a tool to catalog inspiration, brainstorm, schedule tasks and obtain feedback on their work.
	</div>

	<div class="content">
		This product was developed as a part of CS 147 - Stanford’s course on HCI+Design, where we started from needfinding and user testing, to low-fi paper prototypes, to mid-fi digital interactive prototypes, and finally to an iOS hi-fidelity prototype. I played the role of a product designer and engineer in a team of three.
	</div>

	<div class="content">
		<div class="subtext">Project URL: <a href="http://stanford.edu/class/cs147/projects/creation/flow/" target="_blank">http://stanford.edu/class/cs147/projects/creation/flow/</a></div>
		<div class="subtext">Mock-ups designed with Photoshop and InVision, iOS prototype developed with Ionic.</div>
	</div>

	<div class="footer">
		<a href="#/coursera">Coursera Redesign</a>
		<a href="#/">Back to all projects</a>
		<a href="#/sonic-canvas">Sonic Canvas</a>
	</div>
</article>