<div class="intro">
	<div class="brand">
  	<h1 class="display-desktop">Trijeet</h1>
  	<h1 class="display-desktop">Mukhopadhyay</h1>
  	<h1 class="display-mobile">Trijeet Mukhopadhyay</h1>
  	<div class="social display-desktop">
  		<a href="https://www.linkedin.com/in/trijeetm" target="_blank" class="si socicon-linkedin"></a>
  		<a href="https://www.twitter.com/trijeetm" target="_blank" class="si socicon-twitter"></a>
  		<a href="https://github.com/trijeetm" target="_blank" class="si socicon-github"></a>
      <a href="https://soundcloud.com/trijeet-mukhopadhyay" target="_blank" class="si socicon-soundcloud"></a>
  		<a href="https://www.behance.net/trijeetm" target="_blank" class="si socicon-behance"></a>
  	</div>
	</div>
	<div class="blurb">
		<p>
      Product designer, new media artist, and technologist living in the Bay Area. Studying computer science at Stanford University, focusing in <a href="http://hci.stanford.edu/" target="_blank">Human Computer Interaction</a> and <a href="https://ccrma.stanford.edu" target="_blank">music</a>.
      Organizer at <a href="https://www.treehacks.com/" target="_blank">TreeHacks</a>, and Design Fellow at <a href="http://kpcbfellows.com/" target="_blank">KPCB</a>. Previously, product design intern at <a href="https://www.uber.com/" target="_blank">Uber</a>, software engineering intern at <a href="https://www.bebop.co/" target="_blank">bebop</a>, and product designer at <a href="http://eagerpanda.com/" target="_blank">EagerPanda</a>.
    </p>
    <p>
      Here is a <a href="assets/resume.pdf" target="_blank">piece of paper</a> about me.
    </p>
	</div>
	<div class="social display-mobile">
		<a href="https://www.linkedin.com/in/trijeetm" target="_blank" class="si socicon-linkedin"></a>
    <a href="https://www.twitter.com/trijeetm" target="_blank" class="si socicon-twitter"></a>
    <a href="https://github.com/trijeetm" target="_blank" class="si socicon-github"></a>
    <a href="https://soundcloud.com/trijeet-mukhopadhyay" target="_blank" class="si socicon-soundcloud"></a>
    <a href="https://www.behance.net/trijeetm" target="_blank" class="si socicon-behance"></a>
	</div>
</div>

<div class="portfolio">
	<div class="grid">
		<a class="grid-item {{piece.category}}" ng-repeat="piece in portfolioPieces | orderBy: 'id'" on-repeat-end collection="portfolioPieces" ng-href="{{piece.link}}" target="{{piece.target}}">
			<img ng-src="{{piece.image}}">
			<div class="meta">
				<span class="title">{{piece.title}}</span>
				<span class="desc">{{piece.desc}}</span>
			</div>
		</a>
	</div>
</div>

<div class="footer">
	<hr>
	<p>Want to work on something interesting? Contact me at <a href="mailto:trijeetm@gmail.com">trijeetm@gmail.com</a>.</p>
</div>