<article>
	<h1>Sonic Canvas</h1>
	<h2 class="subtitle">Collaborative real-time canvas for creating audio-visual art with people</h2>
	<div class="meta">
		<span class="tags">UX Design; App Development</span>
		<span class="date">Winter '15</span>
	</div>

	<img src="images/sonic-canvas.png" class="cover">

	<div class="content italicize">
		This page is still a work in progress.
	</div>

	<div class="content">
		<div class="subtext">Project URL: <a href="https://ccrma.stanford.edu/~trijeetm/sonic-canvas/" target="_blank">https://ccrma.stanford.edu/~trijeetm/sonic-canvas/</a></div>
		<div class="subtext">Mobile app developed with Ionic and Firebase, and audio engine implemented with the Web Audio and MIDI.js</div>
	</div>

	<div class="footer">
		<a href="#/flow">Flow</a>
		<a href="#/">Back to all projects</a>
		<a href="#/fingerboard">Fingerboard</a>
	</div>
</article>